.card
  .card-block
    .row
      .col-md-1
        = gravatar_for message.user
      .col-md-11
        %p.card-text
          %span.text-muted
            = message.user.email
            at #{message.created_at.strftime('%H:%M:%S %d %B %Y')} says
          %br
          = message.body
